RewriteEngine On

# GET 

# Views
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^$          views/index.php     [NC,L]

RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^signup$    views/signup.php    [NC,L]

RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^login$     views/login.php     [NC,L]


# Views

# Api
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^signup$    api/create-user.php [NC,L]

# Errors
ErrorDocument 404       view_errors/404.php