RewriteEngine On


# Views
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^$          views/index.php     [NC,L]

RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^signup$    views/signup.php    [NC,L]

RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^login$     views/login.php     [NC,L]

RewriteCond %{REQUEST_METHOD} GET           
RewriteRule ^home$      views/home.php      [NC,L]

RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^profile$   views/profile.php   [NC,L]    

RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^update-password$ views/update-password.php [NC,L]

RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^update-profile$ views/update-profile.php [NC,L]

RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^delete-profile$ views/delete-profile.php [NC,L]

RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^update-image$ views/update-image.php [NC,L]

RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^admin$ views/admin.php [NC,L]

RewriteCond %{REQUEST_METHOD} GET 
RewriteRule ^delete-user/(\d+)$ api/delete-user-by-id.php?id=$1 [NC,L]


# Api
# GET
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^logout$    api/logout.php      [NC,L]

RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^get-session-information$    api/get-session-information.php     [NC,L]

RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^get-users$    api/get-users.php     [NC,L]

# POST
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^signup$    api/create-user.php [NC,L]

RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^login$     api/create-session.php  [NC,L]

RewriteCond %{REQUEST_METHOD} POST 
RewriteRule ^update-password$ api/update-password.php [NC,L]

RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^update-profile$ api/update-profile.php [NC,L]

RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^delete-profile$ api/delete-profile.php [NC,L]

RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^update-image$ api/update-image.php [NC,L]

# Errors
ErrorDocument 404       view_errors/404.php